.input-form {
    text-align: center;
    width: 20rem;
    display: flex !important;
    margin: 1rem auto !important;
}

.input-form-container{
    margin: 25px 50px;
}

.hide-arrow .MuiSelect-icon {
    display: none;
  }